@page "/render/gen"
@using DrawCurve.Domen.Models.Core
@using DrawCurve.Domen.Models.Core.Enums
@using DrawCurve.Domen.Models.Core.Objects
@inject RenderService renderService
@attribute [Authorize]

<PageTitle>Генерация фигур и кривых</PageTitle>
<h1 class="page-title">Генерация фигур и кривых</h1>

<div class="nav-links">
    <NavLink href="/render/gen/linecurve" class="nav-link">
        Форма генерации динамических кривых
    </NavLink>
    <NavLink href="/render/gen/lissajousfigures" class="nav-link">
        Форма генерации форм Лисауджу
    </NavLink>
</div>