@page "/login"
@using DrawCurve.Client.Service
@using DrawCurve.Domen.Models
@inject NavigationManager Navigation
@inject AuthService AuthService
@inject IJSRuntime JsRuntime

<h3>Login</h3>

<EditForm Model="@loginModel" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText id="username" @bind-Value="loginModel.Login" placeholder="Username" />
    <InputText id="password" @bind-Value="loginModel.Password" placeholder="Password" type="password" />
    <button type="submit">Login</button>
</EditForm>

@code {
    private UserResource loginModel = new();

    private async Task HandleLogin()
    {
        try
        {
            var response = await AuthService.LoginAsync(loginModel);
            Navigation.NavigateTo("/userinfo");
        }
        catch
        {
            await JsRuntime.InvokeVoidAsync("alert", "Incorect login or password"); // Alert
            loginModel.Password = "";
        }
        // Обработка ответа
    }
}
