@page "/render/gen"
@using DrawCurve.Domen.Models.Core
@using DrawCurve.Domen.Models.Core.Enums
@using DrawCurve.Domen.Models.Core.Objects
@inject RenderService renderService

@code {
    private ResponceRenderInfoCurve renderInfo = new ResponceRenderInfoCurve
        {
            Name = "Example",
            config = new(),
            obejcts = new List<ObjectRender>()
        };

    private bool wait = true;

    protected override async Task OnInitializedAsync()
    {
        renderInfo.config = await renderService.GetDefaultData(RenderType.RenderCurve);
        renderInfo.obejcts = await renderService.GetDefaultObjects(RenderType.RenderCurve);
        wait = false;
    }

    private void AddLineCurve()
    {
        renderInfo.obejcts.Add(new LineCurve(100, 45, 5));
    }


    private void RemoveObject(LineCurve obj)
    {
        renderInfo.obejcts.Remove(obj);
    }

    private void HandleValidSubmit()
    {
        // Обработка отправки данных формы
    }
    public class ResponceRenderInfoCurve
    {
        public string Name { get; set; }
        public List<ObjectRender> obejcts { get; set; }
        public RenderConfig config { get; set; }
    }
}

<EditForm Model="renderInfo" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    @if (wait)
    {
        <p><em>Loading default config</em></p>
    }
    <h3>Render Info</h3>

    <div>
        <label>Name: </label>
        <InputText @bind-Value="renderInfo.Name" />
    </div>

    <h3>Render Config</h3>
    <div>
        <label>Title: </label>
        <InputText @bind-Value="renderInfo.config.Title" />
    </div>
    <div>
        <label>FPS: </label>
        <InputNumber @bind-Value="renderInfo.config.FPS" />
    </div>
    <div>
        <label>Time: </label>
        <InputNumber @bind-Value="renderInfo.config.Time" />
    </div>
    <div>
        <label>Speed Render: </label>
        <InputNumber @bind-Value="renderInfo.config.SpeedRender" />
    </div>
    <div>
        <label>Width: </label>
        <InputNumber @bind-Value="renderInfo.config.Width" />
    </div>
    <div>
        <label>Height: </label>
        <InputNumber @bind-Value="renderInfo.config.Height" />
    </div>

    <h3>Objects</h3>
    @foreach (var obj in renderInfo.obejcts)
    {
        @if (obj is LineCurve objj)
        {
            <div>
                <h4>Line Curve</h4>
                <label>Angle: </label>
                <InputNumber @bind-Value="objj.Angle" />
                    <label>Length: </label>
                <InputNumber @bind-Value="objj.Length" />
                    <label>RPS: </label>
                <InputNumber @bind-Value="objj.RPS" />
                <button type="button" @onclick="() => RemoveObject(objj)">Remove LineCurve</button>
            </div>
        }
    }

    <div>
        <button type="button" @onclick="AddLineCurve">Add LineCurve</button>
    </div>

    <button type="submit">Submit</button>
</EditForm>
