@inherits LayoutComponentBase
@inject AuthService authService
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <NotAuthorized>
                    <NavLink class="btn btn-outline-info me-2" href="Login">
                        <i class="bi bi-box-arrow-in-right"></i> Login
                    </NavLink>
                    <NavLink class="btn btn-outline-info" href="Registration">
                        <i class="bi bi-person-plus"></i> Registration
                    </NavLink>
                </NotAuthorized>
                <Authorized>
                    <button class="btn btn-outline-info" @onclick="logOut">
                        <i class="bi bi-box-arrow-right"></i> Log Out
                    </button>
                </Authorized>
            </AuthorizeView>

        </div>


        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@code {
    private void logOut()
    {
        authService.LogoutAsync();
    }
}